<html>
<head>
    <script src="../javascript/lso.js" type="text/javascript"></script>
    <script src="../javascript/parseuri.js" type="text/javascript"></script>
    <script src="../javascript/journals.js" type="text/javascript"></script>
    <script>
        // chrome.browserAction.setBadgeBackgroundColor({color: [0, 110, 81, 255]});
        // chrome.browserAction.setBadgeText({text: "ON"});
        // Parse some local storage objects!
        parseLocalStorage();
        // Figure out if we're @ WU/BJC/SLCH/Danforth or off-campus.
        var onNetwork = false;
        // TODO: Consider redirect with /?url= parameter instead if not logged in.
        var danforthProxyURL = '.libproxy.wustl.edu';
        var beckerProxyURL = '.beckerproxy.wustl.edu';

        // TODO: Once per session, append "?holding=wustlmlib" to PubMed.

        // This will pass an HTTP_ORIGIN flag with the Chrome Extension ID so Becker
        // can contact me or block the extension if it causes any problems.
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "https://becker.wustl.edu/sites/all/themes/bml_theme2/js/network-indicator-script3.php", true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
                var resp = JSON.parse(xhr.responseText.substring(1, xhr.responseText.length-1));
                if (resp.networkTag == "WUSTL") {
                    onNetwork = true;
                } else if (resp.networkTag == "SLCH" || resp.networkTag == "BJH") {
                    onNetwork = true;
                    beckerProxyURL = '.beckerproxy2a.wucon.wustl.edu';
                }
            }
        };
        xhr.send();

        // The user wants auto-redirection and is off-network,
        // so we perform URL parsing and (maybe) redirection
        function checkURLforRedirection(tab) {
            var parsedURL = parseUri(tab.url);
            if (intersect_journals.list.indexOf(parsedURL.host) !== -1) {
                if (optPreferDanforth || (optEnableDanforth && !optEnableBecker)) {
                    doRedirectToProxy(tab, parsedURL, danforthProxyURL);
                    return true;
                } else {
                    doRedirectToProxy(tab, parsedURL, beckerProxyURL);
                    return true;
                }
            }

            // We're still here, so the journal is not in intersect_journals.
            if (optEnableDanforth) {
                if (danforth_journals.list.indexOf(parsedURL.host) !== -1) {
                    doRedirectToProxy(tab, parsedURL, danforthProxyURL);
                    return true;
                }
            }
            if (optEnableBecker) {
                if (becker_journals.list.indexOf(parsedURL.host) !== -1) {
                    doRedirectToProxy(tab, parsedURL, beckerProxyURL);
                    return true;
                }
            }
            return false;
        }

        // Redirect the page using the auto-determined proxy URL
        // Modularize so we only parse the URL once (parsing is expensive!)
        function doRedirectToProxy(tab, parsed, proxyURL) {
            var proxifiedURL =  parsed.protocol + "://" + parsed.host + proxyURL + parsed.relative;
            chrome.tabs.update(tab.id, {url: proxifiedURL});
        }

        // If users have manually clicked on the icon, we've failed.
        // Submit the journal domain to a logger so we can update our database.
        // TODO: Add addtl. log data (version, on-network detection, etc.)
        function uploadJournalToDatabase(theUrl) {
            var uploader = new XMLHttpRequest();
            uploader.open("GET", "https://update.epoxate.com/becker-extension/log.py?" + encodeURIComponent(theUrl), true);
            uploader.send();
        }

        // Listen for tab url changes
        chrome.tabs.onUpdated.addListener(function(tabid, changeinfo, tab) {
            // If users refresh, changeinfo.url is null (don't trigger)
            // Should we check for redirect loops, like with web.mit.edu?
            if (optAutoRedirect && !onNetwork && changeinfo.status == "loading" && changeinfo.url != null) {
                checkURLforRedirection(tab);
            }
        });

        // Listen to clicking on our button.
        chrome.browserAction.onClicked.addListener(function (tab) {
            // Parse and redirect.
            // TODO: Consider rewriting https for becker since the Becker people don't understand SSL certs.
            var parsedURL = parseUri(tab.url);
            
            if (parsedURL.protocol == ('http' || 'https')) {
                if (optPreferDanforth || (!optEnableBecker && optEnableDanforth)) {
                    doRedirectToProxy(tab, parsedURL, danforthProxyURL);
                } else {
                    doRedirectToProxy(tab, parsedURL, beckerProxyURL);
                }
            }

            // If we've been manually clicked (and auto-triggering is enabled), the journal
            // is missing from our list. Let's send the journal URL to the cloud logger.
            // We log non-http/https here in case we're missing something (ftp sites for journal data?)
            if (!tab.incognito && !optUsageOptOut) {
                uploadJournalToDatabase(parsedURL.host);
            }
        });

    </script>
</head>
</html>
